body { 
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	font-color:#979C9C;
	}

h1 {
	font-family: "Merriweather Sans light"; sans-serif;
	font-size: 56px;
	line-height: 64px;
	font-color: #962D3E;
}

p {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	font-color:#979C9C;

}

ul {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	font-color:#979C9C;

}

li {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	font-color:#979C9C;

}

a {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	text-decoration: none;
	font-color:#979C9C; 

}

#slogan {
	font-style:italic;

}