body { 
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	color: (151,156,156);
	}

h1 {
	font-family: "Merriweather Sans light"; sans-serif;
	font-size: 56px;
	line-height: 64px;
	color: #962D3E;
	text-align: middle;
}

p {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	color: (151,156,156);

}

ul {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	color: (151,156,156);

}

li {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	color: (151,156,156);

}

a {
	font-family: "Merriweather Sans light"; sans-serif; 
	font-size: 18px;
	line-height: 28px;
	text-decoration: none;
	color: (151,156,156);

}

img {
	max-width: 1920px;
	width: 100%
	text-align:middle;
}
#slogan {
	font-style:italic;

}